@* This page is where the user can add personality traits *@

@model TheCatProject.Models.PTag

<h4 id="pageheaders">@ViewBag.CatName's Personality Traits</h4>
<p>Choose 3 traits that BEST describe your cat</p>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="row">
    <div class="col-md-4">
        @Html.DropDownList("FirstTrait", null, htmlAttributes: new { @class = "boxes" })
        @Html.ValidationMessageFor(model => model.FirstTrait, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-4">
        @Html.DropDownList("SecondTrait", null, htmlAttributes: new { @class = "boxes" })
        @Html.ValidationMessageFor(model => model.SecondTrait, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-4">
        @Html.DropDownList("ThirdTrait", null, htmlAttributes: new { @class = "boxes" })
        @Html.ValidationMessageFor(model => model.ThirdTrait, "", new { @class = "text-danger" })
    </div>
</div>

   <input type="submit" value="add cat personality" class="myButton" />
}
