@model TheCatProject.Models.PTag


<div>
    <h4>PTag</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @Html.DisplayFor(model => model.Cat.Name)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Personality.Type)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Personality2.Type)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Personality2.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
</p>
