@model TheCatProject.Models.PTag

<h3 id="pageheaders">Displaying: @ViewBag.CatName</h3>
<h5>Make sure all is correct before saving</h5>
<div class="row">
    <div class="col-md-4"><img src="~/Content/Images/cat15.png" class="img-fluid" width="400" height="226" /></div>
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.CID,
                  new { id = "CID", Value = ViewBag.SelectedCat })
            <table class="table" id="t01">
                <tr>
                    <th>1st trait</th>
                    <td>
                        @Html.DropDownList("FirstTrait", null, htmlAttributes: new { @class = "boxes" })
                        @Html.ValidationMessageFor(model => model.FirstTrait, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>2nd trait</th>
                    <td>
                        @Html.DropDownList("SecondTrait", null, htmlAttributes: new { @class = "boxes" })
                        @Html.ValidationMessageFor(model => model.SecondTrait, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>3rd trait</th>
                    <td>
                        @Html.DropDownList("ThirdTrait", null, htmlAttributes: new { @class = "boxes" })
                        @Html.ValidationMessageFor(model => model.ThirdTrait, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
            <input type="submit" value="update personality traits" class="myButton" />
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}