<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TheCatProject</title>
    @Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Create", "Cats")</li>
                    <li>@Html.ActionLink("About The Project", "About", "Information")</li>
                    <li>@Html.ActionLink("Getting Started", "BeforeYouStart", "Information")</li>
                    <li>@Html.ActionLink("General Stats", "Create", "Cats")</li>
                    <li>@Html.ActionLink("Top 10 Breeds", "Create", "Cats")</li>
                    <li>@Html.ActionLink("Top 10 Names", "Create", "Cats")</li>
                    <li>@Html.ActionLink("Top 10 Traits", "Create", "Cats")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - The Cat Project</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
