@* This page allows users to create a new entry *@

@model TheCatProject.Models.Cat

<div class="row">
    <div class="col-md-6"><img src="~/Content/Images/cat7.png" class="img-fluid" width="310" height="404"/></div>
    <div class="col-md-4" id="homeform">
        <h1 id="pageheaders">some basic information</h1>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <table class="table" id="t01">
                <tr>
                    <th>Name</th>
                    <td>
                        @Html.TextBoxFor(model => model.Name, new { @class = "boxes" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td>
                        @Html.TextBoxFor(model => model.Age, new { @class = "boxes", type = "number", min = "0", max = "30"})
                        @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>Female</th>
                    <td>
                        @Html.RadioButtonFor(model => model.Sex, "Female")
                    </td>
                </tr>
                <tr>
                    <th>Male</th>
                    <td>@Html.RadioButtonFor(model => model.Sex, "Male")</td>
                </tr>
            </table>
            @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
            <input type="submit" value="add my cat" class="myButton" />
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
