@model TheCatProject.Models.Cat

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnimalFriendliness.Response)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalFriendliness.Response)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Breed.CatBreed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Breed.CatBreed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color.CatColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.CatColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lifestyle.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lifestyle.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeopleFriendliness.Response)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeopleFriendliness.Response)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Play.Activity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Play.Activity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trait.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trait.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trait1.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trait1.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trait2.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trait2.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Water.Response)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Water.Response)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
