@* This page displays Cat details - name, age, sex
    and includes editing, quitting, continuing *@

@model  TheCatProject.Models.Cat

<h3 id="pageheaders">Hello, @Html.DisplayFor(model => model.Name)</h3>
<div class="row">
    <div class="col-md-4">
        <button onclick="pageDetails()" class="myButton">What is this page?</button>
        <p id="details"></p>
    </div>
    <div class="col-md-4">
        <table class="table" id="t01">
            <tr>
                <th>Name</th>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <th>Age</th>
                <td>
                    @Html.DisplayFor(model => model.Age)
                </td>
            </tr>
            <tr>    
                <th>Sex</th>
                <td>
                  @Html.DisplayFor(model => model.Sex)
                </td>
            </tr>
        </table>
        <img src="~/Content/Images/cat2.png" class="img-fluid" width="340" height="340" />
    </div>
    <div class="col-md-4">
        <h4>@Html.ActionLink("change details", "Edit", new { id = Model.ID })</h4>
        <br />
        <h4>@Html.ActionLink("continue", "Create", "Traits", new { myID = Model.ID }, htmlAttributes: null)</h4>
        <br />
        <h4>@Html.ActionLink("all done", "Home")</h4>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}
