@model TheCatProject.Models.Cat

<h2>@Html.DisplayFor(model => model.Name)'s Information</h2>

<div class="row">

    <div class="col-md-12">
        <table class="table" id="t01">
            <tr>
                <th>Breed</th>
                <td>@Html.DisplayFor(model => model.Breed.CatBreed)</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>@Html.DisplayFor(model => model.Color.CatColor)</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>@Html.DisplayFor(model => model.Age)</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>@Html.DisplayFor(model => model.Sex)</td>
            </tr>
            <tr>
                <th>Play Style</th>
                <td>@Html.DisplayFor(model => model.Play.Activity)</td>
            </tr>
            <tr>
                <th>Lifestyle</th>
                <td>@Html.DisplayFor(model => model.Lifestyle.Type)</td>
            </tr>
            <tr>
                <th>Trait 1</th>
                <td>@Html.DisplayFor(model => model.Trait.Type)</td>
            </tr>
            <tr>
                <th>Trait 2</th>
                <td>@Html.DisplayFor(model => model.Trait1.Type)</td>
            </tr>
            <tr>
                <th>Trait 3</th>
                <td>@Html.DisplayFor(model => model.Trait2.Type)</td>
            </tr>
            <tr>
                <th>Temperament - People</th>
                <td>@Html.DisplayFor(model => model.PeopleFriendliness.Response)</td>
            </tr>
            <tr>
                <th>Temperament - Animals</th>
                <td>@Html.DisplayFor(model => model.AnimalFriendliness.Response)</td>
            </tr>
            <tr>
                <th>Water</th>
                <td>@Html.DisplayFor(model => model.Water.Response)</td>
            </tr>
        </table>
    </div>

</div>
