@* User page to edit entered name, age, sex *@

@model TheCatProject.Models.Cat

<h3 id="pageheaders">Displaying: @Html.DisplayFor(model => model.Name)</h3>
<h5>Make sure all is correct before saving</h5>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" id="homeform">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <table class="table" id="t01">
                <tr>
                    <th>Name</th>
                    <td>
                        @Html.TextBoxFor(model => model.Name, new { @class = "boxes" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td>
                        @Html.TextBoxFor(model => model.Age, new { @class = "boxes", type = "number", min = "0", max = "30"})
                        @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>Female</th>
                    <td>
                        @Html.RadioButtonFor(model => model.Sex, "Female")
                    </td>
                </tr>
                <tr>
                    <th>
                        Male
                    </th>
                    <td>@Html.RadioButtonFor(model => model.Sex, "Male")</td>
                </tr>
            </table>
            @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
            <input type="submit" value="update my cat" class="myButton" />
        }
    </div>
    <div class="col-md-4"><img src="~/Content/Images/cat9.png" class="img-fluid" width="300" height="229" /></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

