@model List<System.String>

<h1 id="pageheaders">Most Common Personalities</h1>

@{
    ViewBag.Fifth = "5th - " + ViewBag.TopPersonalities[4];
    ViewBag.Fourth = "4th - " + ViewBag.TopPersonalities[3];
    ViewBag.Third = "3rd - " + ViewBag.TopPersonalities[2];
    ViewBag.Second = "2nd - " + ViewBag.TopPersonalities[1];
    ViewBag.First = "1st - " + ViewBag.TopPersonalities[0];
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="text-focus-in-4" style="background-color: teal; border: 3px; border-style: solid;
            border-color: #3b312b; margin-top: 4px; margin-bottom: 4px;">
            <p style="margin-top: 3px; margin-bottom: 3px; font-size: 23px;">@ViewBag.Fifth</p>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="text-focus-in-3" style="background-color: teal; border: 3px; border-style: solid;
        border-color: #3b312b; margin-top: 4px; margin-bottom: 4px;">
            <p style="margin-top: 3px; margin-bottom: 3px; font-size: 23px;">@ViewBag.Fourth</p>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="text-focus-in-2" style="background-color: teal; border: 3px; border-style: solid;
            border-color: #3b312b; margin-top: 4px; margin-bottom: 4px;">
            <p style="margin-top: 3px; margin-bottom: 3px; font-size: 23px;">@ViewBag.Third</p>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="text-focus-in-1" style="background-color: teal; border: 3px; border-style: solid;
            border-color: #3b312b; margin-top: 4px; margin-bottom: 4px;">
            <p style="margin-top: 3px; margin-bottom: 3px; font-size: 23px;">@ViewBag.Second</p>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="text-focus-in-0" style="background-color: teal; border: 3px; border-style: solid;
            border-color: #3b312b; margin-top: 4px; margin-bottom: 4px;">
            <p style="margin-top: 3px; margin-bottom: 3px; font-size: 23px;">@ViewBag.First</p>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>