@model TheCatProject.Models.Trait

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.CatID,
          new { id = "CatID", Value = ViewBag.SelectedCat })

<div class="row">
    <div class="col-md-12">
        <div id="pageheaders">let's add traits for &#9886;@ViewBag.CatName&#9887;</div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">      
        <img src="~/Content/Images/cat12.png" class="img-fluid" width="350" height="350" />
        <input type="submit" value="add cat traits" class="myButton" />
    </div>
    <div class="col-md-4" id="homeform">
        <h1 id="pageheaders">Color:</h1>
        @Html.DropDownList("ColorID", null, htmlAttributes: new { @class = "boxes" })
        @Html.ValidationMessageFor(model => model.ColorID, "", new { @class = "text-danger" })
        <h1 id="pageheaders">Not sure?</h1>
        <a href="http://messybeast.com/colour-charts.htm?" target="_blank">view this helpful guide</a>
    </div>
    <div class="col-md-4" id="homeform">
        <h1 id="pageheaders">Breed:</h1>
        @Html.DropDownList("BreedID", null, htmlAttributes: new { @class = "boxes" })
        @Html.ValidationMessageFor(model => model.BreedID, "", new { @class = "text-danger" })
        <h1 id="pageheaders">Not sure?</h1>
        <a href="https://www.purina.com/cats/cat-breeds" target="_blank">view this helpful guide</a>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
