@* This page displays Cat details - name, color, breed
    and includes editing, quitting, continuing *@

@model TheCatProject.Models.Trait

<h3 id="pageheaders">@Html.DisplayFor(model => model.Cat.Name)'s Color & Breed</h3>
<div class="row">
    <div class="col-md-4">
        <button onclick="pageDetails()" class="myButton">What is this page?</button>
        <p id="details"></p>
    </div>
    <div class="col-md-4">
        <table class="table" id="t01">
            <tr>
                <th>Color</th>
                <td>
                    @Html.DisplayFor(model => model.Color.CatColor)
                </td>
            </tr>
            <tr>
                <th>Breed</th>
                <td>
                    @Html.DisplayFor(model => model.Breed.CatBreed)
                </td>
            </tr>
        </table>
        <img src="~/Content/Images/cat1.png" class="img-fluid" width="250" height="250" />
    </div>
    <div class="col-md-4">
        <h4>@Html.ActionLink("change details", "Edit", new { id = Html.DisplayFor(model => model.ID) })</h4>
        <br />
        <h4>@Html.ActionLink("continue", "Create", "PTags", new { myID = @ViewBag.SelectedCat  }, htmlAttributes: null)</h4>
        <br />
        <h4>@Html.ActionLink("all done", "Home", "Cats", null, htmlAttributes: null)</h4>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}
