@model IEnumerable<TheCatProject.Models.ViewModels.TraitDetailsView>

<h3 id="pageheaders">Kitty Kat Info</h3>

<div class="row">
    <div class="col-md-4">
        <button onclick="pageDetails()" class="myButton">What is this page?</button>
        <p id="details"></p>
    </div>
    <div class="col-md-4">
        <table class="table" id="t01">
            <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Breed</th>
            </tr>
            <tr>
                @foreach (var item in Model)
                {                   
                <td>
                    @item.CatName
                </td>
                <td>
                    @item.CatColor
                </td>
                <td>
                    @item.CatBreed
                </td>               
                }
            </tr>
        </table>
        <img src="~/Content/Images/cat1.png" class="img-fluid" width="250" height="250" />
    </div>
    
    <div class="col-md-4">
        <h4>@Html.ActionLink("change details", "Edit", new { id = @ViewBag.CatID })</h4>
        <br />
        <h4>@Html.ActionLink("continue", "Create", "PTags", new { myID = @ViewBag.CatID }, htmlAttributes: null)</h4>
        <br />
        <h4>@Html.ActionLink("all done", "Home", "Cats", null, htmlAttributes: null)</h4>
    </div>
    
</div>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}
