@model TheCatProject.Models.Trait

<h3 id="pageheaders">Displaying: @ViewBag.CatNameEdit</h3>
<h5>Make sure all is correct before saving</h5>
<div class="row">
    <div class="col-md-4"><img src="~/Content/Images/cat8.png" class="img-fluid" width="350" height="350" /></div>
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CatID,
                  new { id = "CatID", Value = ViewBag.SelectedCatEdit })
                    <table class="table" id="t01">
                        <tr>
                            <th>Color</th>
                            <td>
                                @Html.DropDownList("ColorID", null, htmlAttributes: new { @class = "boxes" })
                                @Html.ValidationMessageFor(model => model.ColorID, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <th>Breed</th>
                            <td>
                                @Html.DropDownList("BreedID", null, htmlAttributes: new { @class = "boxes" })
                                @Html.ValidationMessageFor(model => model.BreedID, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </table>
            <input type="submit" value="update my cat traits" class="myButton" />
        }
   </div>      
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
